<a href="https://colab.research.google.com/github/duartele/exerc-jupyternotebook/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Estudo sobre a base Titanic
---
1. Introdução

  Titanic foi um navio luxuoso construido para ser 'infundavel'. Contudo, a embarcacao com 3.327 pessoas(892 tripulantes e 2.435 passageiros) colidiu com um iceberg levando a milhares de mortos (nao se sabe o numero exato de mortos devidos a inconsistencias nos documentos)
  
  O objetivo desses estudos é determinar se um indivíduo sobreviveu à viagem. 
1. Primeiras Análises

  O primeiro passo é conhecermos a base.
  Inicialmente temos 891 observacoes e 12 variaveis/features.
  O numero total de sobreviventes da base eh 342 (38,38%)

1. Escolha de Métodos
1. Pré-processamento
1. Análises Finais
1. Conclusão

In [2]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('titanic.csv')

In [17]:
df['Survived'].describe()

count    891.000000
mean       0.383838
std        0.486592
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Survived, dtype: float64

In [15]:
df['Survived'].count()

891

In [16]:
df.isna().sum()/df['Survived'].count()

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.198653
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Cabin          0.771044
Embarked       0.002245
dtype: float64