<a href="https://colab.research.google.com/github/duartele/exerc-jupyternotebook/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Estudo sobre a base Titanic
---
1. Introdução

  Titanic foi um navio luxuoso construido para ser 'infundavel'. Contudo, a embarcacao com 3.327 pessoas(892 tripulantes e 2.435 passageiros) colidiu com um iceberg levando a milhares de mortos (nao se sabe o numero exato de mortos devidos a inconsistencias nos documentos)
  
  O objetivo desses estudos é determinar se um conjunto de indivíduos sobreviveu à viagem. Nesse intuito, temos uma base com 891 observacoes com 12 variaveis. 
1. Primeiras Análises

  O primeiro passo é conhecermos a base.
  Inicialmente temos 891 observacoes e 12 variaveis/features.
  O numero total de sobreviventes da base eh 342 (38,38%).
  A variavel "Cabin" nao parece ser contribuir na analise porque nao temos informacao sobre 77% das observacoes

  1.1 Feature engeneering

  Com a tentava de obter mais informacoes vamosfazer alguns agrupamentos nas variaveis.   

1. Escolha de Métodos
1. Pré-processamento
1. Análises Finais
1. Conclusão

In [2]:
import numpy as np
import pandas as pd

In [26]:
nome = 'Jose_francisco'
type(nome)

str

In [21]:
#df.head() #mostra as 5 primeiras obs (defaut), mas voce pode mudar o parametro (por ex df.head(17))
#df.tail() #mostra as 5 ultimas obs
#df.shape
#df.columns
df.dtypes
#df.describe()
#df.sum()
#df.mean()
#df.isna() #retorna um dataframe com valores True/False para cada elemento - pouco util
#df.isna().sum() #conta a quantidade de itens nulo naquela varialvel

PassengerId       int64
Survived          int64
Pclass            int64
Name             object
Sex              object
Age             float64
SibSp             int64
Parch             int64
Ticket           object
Fare            float64
Cabin            object
Embarked         object
Faixa Etaria     object
Faixa Cabin      object
dtype: object

In [3]:
df = pd.read_csv('titanic.csv')

In [ ]:
df['Survived'].describe()

count    891.000000
mean       0.383838
std        0.486592
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Survived, dtype: float64

In [ ]:
df['Survived'].count()

891

In [4]:
df.isna().sum()/df['Survived'].count()

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.198653
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Cabin          0.771044
Embarked       0.002245
dtype: float64

In [7]:
def calc_faixa_etaria(idade):
  if idade <= 8:
    return '01.Crianca'
  elif idade <= 17:
    return '02.Adolescente'
  elif idade <= 200: 
    return '03.Adulto'
  else: 
    return '04.Nulo'

In [39]:
def calc_faixa_fare(tax):
  if tax <= 8:
    return '01.Cheap'
  elif tax <= 16:
    return '02.Poor'
  elif tax <= 50: 
    return '03.Mean'
  else: 
    return '04.TOP'

In [27]:
def calc_faixa_cabin(msg):
  n = str(msg)
  return n[0]

In [4]:
faixas_etarias = df['Age'].apply(calc_faixa_etaria)

In [40]:
faixas_fare = df['Fare'].apply(calc_faixa_fare)
df.loc[:,'Faixa Fare'] = faixas_fare

In [28]:
faixas_cabin_2 = df['Cabin'].apply(calc_faixa_cabin)

In [33]:
df.loc[:,'Tem Cabine'] = df['Cabin'].isna()
df['Tem Cabine'].describe()

count      891
unique       2
top       True
freq       687
Name: Tem Cabine, dtype: object

In [38]:
df.to_csv('titanic_4.csv', index=False)

In [34]:
df['Fare'].describe()

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64